### [DataFrame의 인덱스 다루기 - 1]
- 인덱스 종류 : 행 인덱스, 열 인덱스
- 특정 열을 행 인덱스 설정하는 방법
- 메서드 : df.set_index(열 인덱스 , inplace=False)

In [1]:
# [1] 모듈 로딩
import pandas as pd

In [2]:
# [2] 데이터 준비
jumsu ={'name':['마징가','태권V','원더우먼'],
        'kor':[50, 98, 30],
        'eng':[60, 45, 99],
        'math':[97, 78, 89]}

In [4]:
# [3] Dict ==> DataFrame 형태로 저장
jumsuDF = pd.DataFrame(jumsu)
jumsuDF

   name  kor  eng  math
0   마징가   50   60    97
1   태권V   98   45    78
2  원더우먼   30   99    89

In [8]:
# [4] name 컬럼을 행 인덱스 설정
DF2=jumsuDF.set_index('name')

DF2

      kor  eng  math
name
마징가    50   60    97
태권V    98   45    78
원더우먼   30   99    89

In [9]:
# DF2 데이터프레임의 행 인덱스/ 열 인덱스 확인
print(DF2.index, DF2.columns, sep='\n')

Index(['마징가', '태권V', '원더우먼'], dtype='object', name='name')
Index(['kor', 'eng', 'math'], dtype='object')

In [11]:
# [5] 데이터 추출
# - '마징가'의 성적 추출. 즉, 행 추출 ==> 변수명.loc[] / 변수명.iloc[]
print(DF2.loc['마징가']) # -> Series 형태
print(DF2.iloc[0]) # -> Series 형태

kor     50
eng     60
math    97
Name: 마징가, dtype: int64
kor     50
eng     60
math    97
Name: 마징가, dtype: int64

In [15]:
# [6] 데이터 추출
# - '마징가,원더우먼'의 성적 추출. 즉, 행 추출 ==> 변수명.loc[] / 변수명.iloc[]
print(DF2.loc[['마징가','원더우먼']]) # -> DataFrame 형태
print(DF2.iloc[[0,2]]) # -> DataFrame 형태

      kor  eng  math
name
마징가    50   60    97
원더우먼   30   99    89
      kor  eng  math
name
마징가    50   60    97
원더우먼   30   99    89

In [20]:
# [7] 영어 점수 컬럼을 행 인덱스 설정
DF3=jumsuDF.set_index('eng')
DF3

     name  kor  math
eng
60    마징가   50    97
45    태권V   98    78
99   원더우먼   30    89

In [21]:
# [8] name,eng 컬럼을 행 인덱스 설정 
DF4=jumsuDF.set_index(['name','eng'])
DF4

          kor  math
name eng
마징가  60    50    97
태권V  45    98    78
원더우먼 99    30    89

In [24]:
print(DF4.index)
print(type(DF4.index))

MultiIndex([( '마징가', 60),
            ( '태권V', 45),
            ('원더우먼', 99)],
           names=['name', 'eng'])
<class 'pandas.core.indexes.multi.MultiIndex'>

In [27]:
## 멀티인덱스에서 행 추출
DF4.loc[('마징가', 60)]

kor     50
math    97
Name: (마징가, 60), dtype: int64