### [Series & DataFrame 연산]

In [31]:
# [1] 모듈 로딩
import pandas as pd

In [32]:
# [2] 데이터 준비
file_name='data1.csv'

In [33]:
# [3] CSV file ==> DataFrame 형태 저장
csvDF=pd.read_csv(file_name, header=None)

csvDF

    0   1   2
0  10  20  30
1  40  50  60
2  70  80  90
3  11  22  33
4   5   5   5

In [34]:
# [4] 연산 실습
# 0번 컬럼과 2번 컬럼을 덧셈 연산 수행
result=csvDF[0] + csvDF[2]

In [35]:
# 0번 컬럼 ~ 2번 컬럼을 덧셈 연산 수행
result=csvDF[0] + csvDF[1] + csvDF[2]
result

0     60
1    150
2    240
3     66
4     15
dtype: int64

In [36]:
# 3개 컬럼 덧셈 결과를 새로운 컬럼으로 추가
csvDF['total']=result
csvDF

    0   1   2  total
0  10  20  30     60
1  40  50  60    150
2  70  80  90    240
3  11  22  33     66
4   5   5   5     15

In [37]:
# 행 5 추가 => 데이터 : 각 컬럼의 값을 모두 더한 값
result2=csvDF.loc[0]+csvDF.loc[1]+csvDF.loc[2]+csvDF.loc[3]+csvDF.loc[4]
result2

0        136
1        177
2        218
total    531
dtype: int64

In [38]:
csvDF.loc[5]=result2

In [39]:
csvDF

     0    1    2  total
0   10   20   30     60
1   40   50   60    150
2   70   80   90    240
3   11   22   33     66
4    5    5    5     15
5  136  177  218    531

In [40]:
# [5] 연산수행 메서드 : 합계 sum(), 최대값 max(), 최소값 min()
SR0=csvDF[0]
print(SR0)
print("합  계 :", SR0.sum())
print("최대값 :", SR0.max())
print("최소값 :", SR0.min())

0     10
1     40
2     70
3     11
4      5
5    136
Name: 0, dtype: int64
합  계 : 272
최대값 : 136
최소값 : 5

In [41]:
# DataFrame으로 연산 수행 메서드
csvDF

     0    1    2  total
0   10   20   30     60
1   40   50   60    150
2   70   80   90    240
3   11   22   33     66
4    5    5    5     15
5  136  177  218    531

In [42]:
# DataFrame 합계 계산
# 각 행 데이터를 모아서 합계 수행, 그래서 컬럼 마다 행들을 모아서 합계 수행 axis=0
print("합  계 :", csvDF.sum())

# 각 컬럼 데이터를 모아서 합계 수행, 그래서 행 마다 컬럼들을 모아서 합계 수행 axis=1
print("합  계 :", csvDF.sum(axis=1))

합  계 : 0         272
1         354
2         436
total    1062
dtype: int64
합  계 : 0     120
1     300
2     480
3     132
4      30
5    1062
dtype: int64

In [43]:
# DataFrame 최대값 계산
# 각 행 데이터를 모아서 최대값 검색, 그래서 컬럼 마다 행들을 모아서 최대값 검색 axis=0
print("최대값 :", csvDF.max())

# 각 컬럼 데이터를 모아서 최대값 검색, 그래서 행 마다 컬럼들을 모아서 최대값 검색 axis=1
print("최대값 :", csvDF.max(axis=1))

최대값 : 0        136
1        177
2        218
total    531
dtype: int64
최대값 : 0     60
1    150
2    240
3     66
4     15
5    531
dtype: int64

In [44]:
# DataFrame 최소값 계산
# 각 행 데이터를 모아서 최소값 검색, 그래서 컬럼 마다 행들을 모아서 최소값 검색 axis=0
print("최소값 :", csvDF.min())

# 각 컬럼 데이터를 모아서 최소값 검색, 그래서 행 마다 컬럼들을 모아서 최소값 검색 axis=1
print("최소값 :", csvDF.min(axis=1))

최소값 : 0         5
1         5
2         5
total    15
dtype: int64
최소값 : 0     10
1     40
2     70
3     11
4      5
5    136
dtype: int64

### 연산과 데이터 추출
- 연산결과와 데이터 추출 함께 진행

In [58]:
# Total이 100이상인 데이터만 추출
# 비교 연산 결과 ==> True/False : Boolean Index
bool_index=csvDF.total >=  100
bool_index

0    False
1     True
2     True
3    False
4    False
5     True
Name: total, dtype: bool

In [1]:
# Boolean Index 즉, 인덱스로 특정 데이터 추출에 사용 가능
# csvDF[컬럼인덱스], csvDF.iloc[행인덱스]
csvDF[bool_index]

NameError: name 'csvDF' is not defined