### DataFrame 살펴보기
- Dict 데이터로 DF 저장

In [1]:
# 모듈 로딩
import pandas as pd

In [2]:
# 데이터 준비
jumsu={'국어':[90,91],'수학':[95,87],'음악':[100,99]}

In [3]:
# DF으로 데이터 저장
df1=pd.DataFrame(jumsu)

In [5]:
# DF로 저장된 데이터 확인
print(df1)

   국어  수학   음악
0  90  95  100
1  91  87   99

- Dict로 데이터 저장

In [6]:
# 0, 1 인덱스 ==> 
df1.index=['마징가','홍길동']

In [7]:
df1

     국어  수학   음악
마징가  90  95  100
홍길동  91  87   99

In [8]:
# 컬럼 인덱스 ==> '국어','미술','과학'
df1.columns=['국어','미술','과학']
df1

     국어  미술   과학
마징가  90  95  100
홍길동  91  87   99

In [9]:
# 값을 저장하고 있는 속성 ==> values
df1.values

array([[ 90,  95, 100],
       [ 91,  87,  99]], dtype=int64)

In [11]:
# 값/데이터 변경은 속성으로 불가!
# df1.values=[[89,78,100], [92,87,99]]

In [14]:
# 형태 변경은 속성으로 불가!
# df1.shape=(3, 2)