- water 파일 열어서 변형하기

In [12]:
import pandas as pd

file = 'electric_sample.xlsx'
electric_sample = pd.read_excel(file)
electric_sample.head()

,member_id,2023-06-01 00:00-06:00,2023-06-01 06:00-12:00,2023-06-01 12:00-18:00,2023-06-01 18:00-24:00,2023-06-02 00:00-06:00,2023-06-02 06:00-12:00,2023-06-02 12:00-18:00,2023-06-02 18:00-24:00,2023-06-03 00:00-06:00,...,2023-06-28 12:00-18:00,2023-06-28 18:00-24:00,2023-06-29 00:00-06:00,2023-06-29 06:00-12:00,2023-06-29 12:00-18:00,2023-06-29 18:00-24:00,2023-06-30 00:00-06:00,2023-06-30 06:00-12:00,2023-06-30 12:00-18:00,2023-06-30 18:00-24:00
0,user001,1.785546,1.837106,1.064193,1.479439,1.827173,1.332394,1.879578,1.929304,1.690151,...,1.456219,1.160532,1.690915,1.783251,1.016825,1.090056,1.494231,1.805467,1.118924,1.959361
1,user002,1.058312,1.330901,1.556700,1.334783,1.064372,1.278797,1.883024,1.364982,1.027549,...,1.522945,1.971821,1.293480,1.339374,1.049841,1.074367,1.545396,1.480819,1.478017,1.593251
2,user003,1.899829,1.623044,1.404919,1.926102,1.923095,1.586379,1.689921,1.876047,1.327396,...,1.503534,1.215404,1.296057,1.184025,1.653302,1.342692,1.292836,1.667491,1.729461,1.947193
3,user004,1.016628,1.832579,1.112010,1.033372,1.714395,1.975216,1.367906,1.827277,1.394819,...,1.390146,1.946118,1.058099,1.549720,1.829780,1.243997,1.670841,1.440474,1.634614,1.059507
4,user005,1.246474,1.921913,1.335677,1.501617,1.642778,1.439925,1.328758,1.705227,1.162927,...,1.610849,1.620738,1.399724,1.408178,1.366461,1.014739,1.984336,1.466411,1.631121,1.300519

In [13]:
# Define office_id and managed_entity_id for all rows
office_id = "OFF001"
managed_entity_id = "ME001"

# Melt the table to normalize data
normalized_data = electric_sample.melt(id_vars=["member_id"], var_name="datetime", value_name="electric_usage")

# Extract electric_date and electrict to the correct format
normalized_data["electric_date"] = normalized_data["datetime"].str.extract(r"(\d{4}-\d{2}-\d{2})")
normalized_data["office_id"] = office_id
normalized_data["managed_entity_id"] = managed_entity_id

# Rearrange columns to match water table structure
electric_table_data = normalized_data[["office_id", "member_id", "managed_entity_id", "electric_date", "electric_usage"]]

In [14]:
# Save to a CSV file for database insertion
electric_file_path = "all_converted_electric_sample.csv"
electric_table_data.to_csv(electric_file_path, index=False)

electric_file_path

'all_converted_electric_sample.csv'

In [4]:
# # Remove duplicates from the DataFrame
# deduplicated_data = water_table_data.drop_duplicates(subset=["office_id", "member_id", "managed_entity_id", "water_date"])

# # Save the deduplicated data to a new CSV file
# deduplicated_file_path = "deduplicated_water_sample.csv"
# deduplicated_data.to_csv(deduplicated_file_path, index=False)