In [1]:
# [1] 모듈로딩
import pandas as pd

In [2]:
# [2] 데이터
file1='test_data3.csv'

In [3]:
# [3] CSV => DataFrame 형태로 저장
df1=pd.read_csv(file1)
df1

   index col1  col2  col3
0   2020   서울    10    20
1   2020   대구    11    22
2   2021   서울    10    20
3   2021   대구    11    22
4   2021   대구    12    23

In [4]:
# [4] 데이터 추출
# [4-1] 대구 관련 데이터만 추출
df1[df1['col1'] == '대구']

   index col1  col2  col3
1   2020   대구    11    22
3   2021   대구    11    22
4   2021   대구    12    23

In [5]:
# [4-2] index와 col1을 행 인덱스 설정
df2=df1.set_index(['index', 'col1'])

In [6]:
df2

            col2  col3
index col1
2020  서울      10    20
      대구      11    22
2021  서울      10    20
      대구      11    22
      대구      12    23

In [7]:
# 인덱스 속성
df2.index, df2.values

(MultiIndex([(2020, '서울'),
             (2020, '대구'),
             (2021, '서울'),
             (2021, '대구'),
             (2021, '대구')],
            names=['index', 'col1']),
 array([[10, 20],
        [11, 22],
        [10, 20],
        [11, 22],
        [12, 23]], dtype=int64))

In [8]:
# 2020년도 대구 데이터 추출
df2.loc[('2020','대구')]

C:\Users\KDP-50\AppData\Local\Temp\ipykernel_3572\1668607667.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[('2020','대구')]

            col2  col3
index col1
2020  대구      11    22

In [9]:
# 2021년도 대구 데이터 추출
df2.loc[('2021','대구')]

C:\Users\KDP-50\AppData\Local\Temp\ipykernel_3572\3613448325.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[('2021','대구')]

            col2  col3
index col1
2021  대구      11    22
      대구      12    23

In [10]:
df2.loc[('2021','대구')]=[3,3]
df2

C:\Users\KDP-50\AppData\Local\Temp\ipykernel_3572\2807195101.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[('2021','대구')]=[3,3]

            col2  col3
index col1
2020  서울      10    20
      대구      11    22
2021  서울      10    20
      대구       3     3
      대구       3     3

In [11]:
# 행 추가 => (연도, 지역명)
# df2.loc[(2022,'부산')]=0 #[행, 열]로 인식해서 열 추가됨!

df2.loc[(2022,'부산'),:]=0
df2

C:\Users\KDP-50\AppData\Local\Temp\ipykernel_3572\4052174159.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'부산'),:]=0

            col2  col3
index col1
2020  서울    10.0  20.0
      대구    11.0  22.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2022  부산     0.0   0.0

In [12]:
df2.loc[(2022,'마산'),:]=[3,4]
df2

C:\Users\KDP-50\AppData\Local\Temp\ipykernel_3572\3301174641.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'마산'),:]=[3,4]
C:\Users\KDP-50\AppData\Local\Temp\ipykernel_3572\3301174641.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'마산'),:]=[3,4]

            col2  col3
index col1
2020  서울    10.0  20.0
      대구    11.0  22.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2022  부산     0.0   0.0
      마산     3.0   4.0

In [14]:
# df2.loc[(2022,'울산'),:]=pd.Series({'col2':8, 'col3':8})

In [15]:
df2.loc[(2022,'경산'),:]=[pd.Series({'col2':8, 'col3':8})]

C:\Users\KDP-50\AppData\Local\Temp\ipykernel_3572\4105063313.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'경산'),:]=[pd.Series({'col2':8, 'col3':8})]
C:\Users\KDP-50\AppData\Local\Temp\ipykernel_3572\4105063313.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022,'경산'),:]=[pd.Series({'col2':8, 'col3':8})]

In [16]:
df2

            col2  col3
index col1
2020  서울    10.0  20.0
      대구    11.0  22.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2022  부산     0.0   0.0
      마산     3.0   4.0
      울산     NaN   NaN
      경산     8.0   8.0