## 구조화 데이터
#### 데이터프레임(DataFrame)

In [8]:
# 모듈 로딩
import pandas as pd

In [9]:
# 열이름을 key, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)
# dict_data = {'a':1, 'b':2, 'c':3}
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

In [10]:
# 판다스 DataFrame() 함수로 딕셔너리 (dict_data)를 데이터프레임으로 변환. 변수 df에 저장
df = pd.DataFrame(dict_data)

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [19]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [20]:
df.columns

Index(['c0', 'c1', 'c2', 'c3', 'c4'], dtype='object')

In [13]:
# 행 인덱스/열 이름 지정하여, 데이터프레임 만들기
df2 = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                  index=['준서','예은'],
                  columns=['나이', '성별', '학교'])

In [14]:
df2

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [17]:
df2.index # 행 인덱스

Index(['준서', '예은'], dtype='object')

In [18]:
df2.columns # 열 이름

Index(['나이', '성별', '학교'], dtype='object')

In [21]:
# 행 인덱스, 열 이름 변경하기
df2.index = ['학생1','학생2']
df2.columns = ['연령','남녀','소속']
df2

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [22]:
df2.index

Index(['학생1', '학생2'], dtype='object')

In [24]:
df2.columns

Index(['연령', '남녀', '소속'], dtype='object')

- 인덱스 * 열이름 제어 함수:
    * DataFrame객체.rename(index= {기존인덱스:새 인덱스}, inplace=True/False)
    * DataFrame객체.rename(columns={기존인덱스:새인덱스},inplace=True/False)

In [34]:
# 열 이름 중, '나이'를 '연령', '성별'을 '남녀', '학교'를 '소속'으로
df3=df2.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'})

In [35]:
df4=df2.rename(index={'준서':'학생1', '예은':'학생2'}, inplace=True)

In [36]:
df3

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [37]:
df4

- 행 / 열 삭제
    *DataFrame객체.drop(행 인덱스 또는 배열, axis=0)
    *DataFrame객체.drop(열 컬럼 또는 배열, axis=1)
    ** 기존 객체 변경하지 않고 새로운 객체 반환 inplace=True 옵션 : 기존 객체 데이터 삭제

In [38]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학':[90, 80, 70], '영어':[98, 89, 95], '음악':[85, 95, 100], '체육':[100, 90, 90]}

In [39]:
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [40]:
# 데이터프레임 df를 복제하여 변수 df2에 저장.
df2=df[:]

In [41]:
# df2의 1개 행을 삭제
df2.drop('우현', inplace=True)
df2

C:\Users\KDP-50\AppData\Local\Temp\ipykernel_2172\3651904543.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('우현', inplace=True)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [42]:
# 데이터프레임 df를 복제하여 변수 df3에 저장. df3의 2개 행을 삭제
df3=df[:]
df3.drop(['우현','인아'], axis=0, inplace=True)
df3

C:\Users\KDP-50\AppData\Local\Temp\ipykernel_2172\939640213.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['우현','인아'], axis=0, inplace=True)

    수학  영어  음악   체육
서준  90  98  85  100

In [43]:
# 데이터프레임 df를 복제하여 변수 df4에 저장. df4의 1개 열(column)을 삭제
df4 = df[:]
df4.drop('수학', axis=1, inplace=True)
df4

C:\Users\KDP-50\AppData\Local\Temp\ipykernel_2172\113702027.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop('수학',axis=1, inplace=True)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

In [44]:
# 데이터프레임 df를 복제하여 변수 df5에 저장. df5의 2개 열(column)을 삭제
df5 = df[:]
df5.drop(['영어','음악'], axis=1, inplace=True)
df5

C:\Users\KDP-50\AppData\Local\Temp\ipykernel_2172\1144284288.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5.drop(['영어','음악'], axis=1, inplace=True)

    수학   체육
서준  90  100
우현  80   90
인아  70   90