## 3. 판다스 자료구조 살펴보기

### 3-1. 나만의 데이터 만들기

#### 시리즈의 데이터프레임 만들기

- 시리즈 만들기

In [1]:
# 모듈 준비
import pandas as pd

In [3]:
s=pd.Series(['banana', 42])

s

0    banana
1        42
dtype: object

In [4]:
s2=pd.Series(data=['Wes mcKinney', 'Creator of Pandas'], index=['Person', 'Who'])

s2

Person         Wes mcKinney
Who       Creator of Pandas
dtype: object

- 데이터 프레임 만들기

In [5]:
scientists=pd.DataFrame({
    "Name": ["Rosaline Franklin", "William Gosset"],
    "Occupation": ["Chemist", "Statistician"],
    "Born": ["1920-07-25", "1876-06-13"],
    "Died": ["1958-04-16", "1937-10-16"],
    "Age": [37, 61]
})

scientists

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [6]:
scientists=pd.DataFrame(
    data={
    "Occupation": ["Chemist", "Statistician"],
    "Born": ["1920-07-25", "1876-06-13"],
    "Died": ["1958-04-16", "1937-10-16"],
    "Age": [37, 61]
}, index=["Rosaline Franklin", "William Gosset"],
columns=["Occupation", "Born", "Died", "Age"])

scientists

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

### 3-2 시리즈 다루기

- 시리즈 추출하기

In [8]:
first_row=scientists.loc['William Gosset']

print(first_row, type(first_row))

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object <class 'pandas.core.series.Series'>

In [10]:
print('index:',first_row.index)
print('values:',first_row.values)

index: Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
values: ['Statistician' '1876-06-13' '1937-10-16' 61]

In [11]:
print('keys():',first_row.keys())

keys(): Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [12]:
print('index의 첫번째 원소:',first_row.index[0])
print('keys() 메서드 사용:',first_row.keys()[0])

index의 첫번째 원소: Occupation
keys() 메서드 사용: Occupation

- 시리즈의 메서드 사용하기

In [13]:
ages=scientists['Age']
ages

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [14]:
# 평균 : mean()
ages.mean()

49.0

In [15]:
# 최솟값 : min()
ages.min()

37

In [16]:
# 최댓값 : max()
ages.max()

61

In [17]:
# 표준편차 : std()
ages.std()

16.97056274847714