- 시리즈와 불리언
    * 기술 통계량 계산하기

In [2]:
# 모듈 생성
import pandas as pd

In [4]:
# 파일 경로

file_path='scientists.csv'
scientists=pd.read_csv(file_path)
scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [5]:
ages=scientists['Age']
ages

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [6]:
ages.describe()

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [7]:
ages.mean()

59.125

In [11]:
# 평균 나이보다 나이 많은 과학자만 추출
boolean_index = ages > ages.mean()
boolean_index, type(boolean_index)

(0    False
 1     True
 2     True
 3     True
 4    False
 5    False
 6    False
 7     True
 Name: Age, dtype: bool,
 pandas.core.series.Series)

In [9]:
scientists[boolean_index]

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [10]:
# 평균 나이보다 나이 많은 과학자의 나이 추출
ages[boolean_index]

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [12]:
manual_bool_values=[
    True, # 0
    True, # 1
    False, # 2
    False, # 3
    True, # 4
    True, # 5
    False, # 6
    True, # 7
]

ages[manual_bool_values]

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

- 시리즈와 브로드캐스팅
    - 벡터와 벡터, 벡터와 스칼라 계산하기

In [13]:
ages+ages

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [14]:
ages*ages

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [15]:
ages+100

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [16]:
ages*2

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

- 길이가 서로 다른 벡터 연산하기

In [17]:
ages + pd.Series([1, 100])

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

- 인덱스가 같은 벡터 자동 정렬하기

In [18]:
rev_ages=ages.sort_index(ascending=False)
rev_ages

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [19]:
ages*2

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [20]:
ages+rev_ages

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64